---
import { Icon } from 'astro-icon/components';
import DownloadButton from '@components/layouts/mainLayout/DownloadButton.astro';
import Link from './Link.astro';
import socialLinks from '@data/socialLinks.json';
import { navLinks, type NavLink } from '@/data/navLinks';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { LanguageSwitcher } from './LanguageSwitcher.tsx';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id=""
  class="px-10 py-14 h-full w-[20rem] rounded-r-md lg:w-full border-r-2 border-primario/5 group-hover:border-primario/40 dark:border-secundario/5 dark:group-hover:border-secundario/40 duration-200 ease-in bg-secundario dark:bg-primario sm:bg-transparent text-primario dark:text-secundario"
  aria-label="Primary"
>
  <div
    class="scroll flex flex-col gap-4 lg:gap-10 w-full h-full overflow-y-auto overflow-x-hidden"
  >
    <div class="flex gap-5 items-center">
      <a
        class="no-underline flex group gap-3 items-center"
        href={t('link.home')}
      >
        <Icon class="" name="braille-l" width={20} />
        <h1
          class="font-bold text-xl dark:text-secundario dark:group-hover:text-secundario"
        >
          {t('nav.iconText')}
        </h1>
      </a>
      <LanguageSwitcher lang={lang} client:only="react" />
    </div>
    <div class="flex w-full gap-3">
      <div
        class="bg-[url('/leo.jpg')] bg-cover bg-no-repeat bg-center rounded-full w-14 shadow-md"
      >
      </div>

      <div class="w-full">
        <h2 class="font-semibold text-lg">Leonardo Serrano A.</h2>
        <p class="text-sm">{t('nav.title')}</p>
      </div>
    </div>
    <ul class="flex flex-col gap-3">
      {
        navLinks.map((item: NavLink) => (
          <li>
            <Link name={t(item.name)} path={t(item.path)} icon={item.icon} />
          </li>
        ))
      }
    </ul>
    <nav class="flex flex-col gap-3">
      <h4 class="uppercase font-semibold text-sm">
        {t('nav.socialLinks')}
      </h4>
      <ul class="flex flex-col gap-5">
        {
          socialLinks.map((item) => (
            <li>
              <Link
                newWindow
                name={item.name}
                path={item.path}
                icon={item.icon}
              />
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="w-full h-full">
      <DownloadButton />
    </div>
  </div>
</section>
