---
import { Icon } from 'astro-icon';
import DownloadButton from './DownloadButton.astro';
import Link from './Link.astro';
import navLinks from '../data/navLinks.json';
import socialLinks from '../data/socialLinks.json';
/* import { LanguageSwitcher } from './LanguageSwitcher.tsx'; */
---

<nav
    id="mainMenu"
    class="h-full w-[20rem] lg:w-full bg-neutral-200 lg:bg-white dark:bg-gray-900 shadow-lg lg:shadow-none overflow-x-auto"
    aria-label="Primary"
>
    <div class="flex flex-col gap-10 px-10 py-14 w-full h-full">
        <!-- <LanguageSwitcher client:only="react" /> -->
        <a
            class="no-underline flex group gap-3 items-center hover:text-neutral-700"
            href="/"
        >
            <Icon
                class="group-hover:fill-neutral-700 dark:group-hover:fill-neutral-100 dark:fill-neutral-400"
                name="braille-l"
                width="20"
            />
            <h1
                class="font-bold text-xl dark:text-neutral-300 dark:group-hover:text-neutral-100"
            >
                Portfolio
            </h1>
        </a>
        <div class="flex w-full gap-3">
            <div
                class="bg-[url('/leo.jpg')] bg-cover bg-no-repeat bg-center rounded-full w-14 shadow-md"
            >
            </div>

            <div class="w-full">
                <h2 class="font-semibold dark:text-neutral-50 text-lg">
                    Leonardo Serrano A.
                </h2>
                <p class="text-sm dark:text-neutral-100">Fullstack Developer</p>
            </div>
        </div>
        <ul class="flex flex-col gap-3">
            {
                navLinks.map((item) => (
                    <Link name={item.name} path={item.path} icon={item.icon} />
                ))
            }
        </ul>
        <div class="flex flex-col gap-3">
            <h4
                class="uppercase font-semibold text-neutral-500 dark:text-neutral-400 text-sm"
            >
                Socials
            </h4>
            <ul class="flex flex-col gap-5">
                {
                    socialLinks.map((item) => (
                        <Link
                            newWindow
                            name={item.name}
                            path={item.path}
                            icon={item.icon}
                        />
                    ))
                }
            </ul>
        </div>
        <div class="w-full h-full">
            <DownloadButton />
        </div>
    </div>
</nav>
